/* Entire Webpage */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    max-height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    scroll-snap-type: y mandatory; 
    overflow-x: hidden;
}

section{
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: black;
    width: 100%;

}

body architecture{
background-color:#202020 ;
}
/* Navagation bar */

.slide a{
    color: white;
    font-size: 100px;
    z-index: 99;
}

.navbar{
    display: flex;
    justify-content: space-between ;
    position: sticky;
    top:0;
    width: 100%;
    padding: 20px;
    transition: margin-left 0.9s;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: transparent;
    color: #fff;
    justify-content: right;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #FF0000;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
div.logo{
    margin-right: 25px;
}
#nav-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 105%;
  height: 5.5px;
  background: #A9A9A9;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: capitalize;
  transition: color 0.6s;;
  font-size: 40px;
  font-weight: 600;
}

#nav-content li a:hover {
  color: #ff0000;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 100px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition:0.6s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}


/* Home page */
.logo {

    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:-7px;
    }
    
    .logo a{
        text-decoration: none;
        color: #A9A9A9;
    }
/* home-background */
.home-background-item img{
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    overflow:hidden;
    height: 100vh;
    z-index: -1;
    padding: 0;
}


/* project pages */
section#projects{
    background-color:#202020;
}
h1{
    font-size:  4.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.pages{
    padding: 10px;
    list-style: none;
}
.pages a {
    font-size: 40px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    
}
.project-pages a:hover{
    color: red;
    transition: 0.6s;
}

section .asset-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.artart{
    display: flex;
    align-items: center;

    height: 100vh;
    width: 31.5%;
}
/* about me  */
section.aboutme{
    display:flex;
    align-items: center;
    justify-content:center;
    background:#f2f2f2;
}

.container-aboutme{
  width:90%;
  max-width: width 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .left{
   width:50%;
   height:600px;
   background:url(New/_DSC4735.jpg) no-repeat center / cover;
   border-radius: 8px;
 }

 .right{
   width:50%;
   min-height: 400px;
   background-color: rgba(73, 73, 73, 0.733);
   display: flex;
   align-items:center;
   justify-content: center;
   padding:30px;
   border-radius: 8px;
   margin-left: -150px;
 }

 .right p{
  margin: 20px 0;
  font-weight: 600;
 }

.right a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  display:inline-block;
  letter-spacing: 2px;
  font-size: 40px;
}


.right a:hover{
color: red;
transition: 0.6s;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 768px) {
  .container-aboutme{
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }

/* Project Pages */
section .asset-content {
  align-items: center;
}
.artart{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}




.artart img{
  display: flex;

  height: 100vh;

}






}