@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section{
    scroll-snap-align: center ;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: black;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body architecture{
background-color:#202020 ;
}
/* index page */
section#home{
    widows:100vh;
    height:100vh;
}


section h1{
    font: size 4rem;
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 20px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 0;
    color: white;
}

.logo {

    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:-7px;
    }
    
    .logo a{
        text-decoration: none;
        color: white;
    }
/* Slideshow */
.slideshow img{
    width: 100%;
    height:100vh;
    position: relative;
    overflow:hidden;
    z-index: -1;
}

/* Navagation bar */

.slide a{
    color: white;
    font-size: 100px;
    z-index: 99;
}

.navbar{
    display: flex;
    justify-content: space-between ;
    position: sticky;
    top:0;
    width: 100%;
    padding: 20px;
    transition: margin-left 0.9s;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: transparent;
    color: #fff;
    justify-content: right;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #FF0000;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
div.logo{
    margin-right: 25px;
}
#nav-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 105%;
  height: 5.5px;
  background: rgb(255, 255, 255);
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #ff0000;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 100px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}



/* project pages */
section#projects{
    widows:100vh;
    height:100vh;
    background-color:#202020;
}
.project-pages{
    display: grid;
    align-content: center;
    padding-left: 90px;
}
.pages{
    padding: 10px;
    list-style: none;
}
.pages a {
    font-size: 40px;
    text-decoration:none;
    color: #ccc;
    font-weight: 600;
    
}
.project-pages a:hover{
    color: white;
    transition: 0.6s;
}
.slider-container{
    margin: 0 auto;
    position: relative;
    width: 33.7%;
    height:100vh;
}
.slide-img{
    Position: absolute;
    width: 100%;
    height:100vh;
    overflow:hidden;
    z-index: -3;
}
.slide-img img{
    margin: auto;
    width: auto;
    height:100vh;
}
#i1, #i2, #i3, #i4, #i5{
    display: none;
}
.pre, .nxt{
    width: 12%;
    height:100%;
    position: absolute;
    top:0;
    background-color: #888888;
    z-index: 99;
    cursor: pointer;
    opacity: 10%;
}
.pre{
    left:0;
}
.nxt{
    right:40px;
}

.slide-img{
    z-index: 1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five{
    z-index: 9;
}
@media screen and (min-width:768px){
	.slider-container{
		margin: 0 auto;
		position: relative;
		width: 100%;
	}
	.slide-img{
		Position: absolute;
		width: 100%;
		height:100vh;
		overflow:hidden;
		z-index: -3;
	}
	.slide-img img{
		margin: auto;
		padding-left: 45px;
		width: 100%;
		height:auto;
	}
	.nxt{
		right:0px;
	}
	.pre{
		left:45px;
	}
}

@media screen and (min-width:1000px){
	.slider-container{
		margin: 0 auto;
		position: relative;
		width: 33.7%;
		height:100vh;
	}
	.slide-img{
		Position: absolute;
		width: 100%;
		height:100vh;
		overflow:hidden;
		z-index: -3;
	}
	.slide-img img{
		margin: auto;
		width: auto;
		height:100vh;
	}
}
/* About Me Page */
section#aboutme{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-color:#404040;
}
section p {
    font-size: 1,5rem;
    min-height: fit-content;
    float: right;
    color: white;
}
.aboutme-container{
    display: grid;
    grid-template-rows: 50vh auto;
    align-self: center;
}
.img-banner .portrait {
	height: 50vh;
	padding-left: 58px;
}

.bio-wrapper{
align-self: center;
font-size: 17px;
text-align: center;
padding: auto;
}

@media screen and (min-width:768px){
	.aboutme-container{
		display: grid;
		grid-template-rows: 716px auto;
		align-self: center;
	}
	.img-banner .portrait {
		height: 70vh;
		padding-left: 90px;
	}
	
	.bio-wrapper{
	align-self: center;
	font-size: 17px;
	text-align: center;
	}
}
@media screen and (min-width:1000px){
    /* about me page */
    .aboutme-container{
        display: grid;
        width: 100%;
        grid-template-columns: 583px auto;
        justify-content:space-around;
        justify-self: center;
    }
    .img-banner .portrait{
        height: 70vh;
        padding-top: 5px;
        padding-left: 100px;
    }
    .bio-wrapper{
    padding-top: 5px;
    align-self: center;
    font-size: 17px;
    text-align: center;
    }
}

/* contact page */
section#contact{
    widows:100vh;
    height:100vh;
    background-color:#808080;
}

.social-menu{
    display: grid;
    height: 80vh;
align-content: space-evenly;
justify-content: center;
}
.social{
    justify-self: center;
}

.fa-instagram,
.fa-linkedin-in{
    color: #ffffff;
    
}
.fa-inbox{
    color: #ffffff;
}
.social .fa a:hover{
    color: white;
    transition: 0.6s;
}
@media screen and (min-width:1000px){
	/* contact page */
		.social-menu {
			height: 80vh;
			display: grid;
			grid-template-columns: auto auto auto;
			align-content: center;
			justify-content:space-around ;
			}
		.social{
			justify-self: center;
			}
		} 



@media only screen and (max-width:768px){
	.nav a {
        display: block;
        padding: 20px;
        font-size: 25px;
        text-decoration:none;
        color: #ccc;
    }
    .nav a:hover{
        color: #ffffff;
        transition: 0.4s;
    }
    .nav .close{
        position: absolute;
        top: 0;
        right: 22px;
        margin-left:50px;
        font-size: 30px;
    }
    
    .slide a{
        color: white;
        font-size: 50px;
    }
    
    i .fas fa-bars{
        float: right;
    }
    
    .aboutme-container{
        display: grid;
        grid-template-rows: 40vh 40vh;
        justify-items: center;
    }
    .img-banner .portrait {
        height: 50vh;
    }
    .bio-wrapper{
    align-self: center;
    font-size: 17px;
    text-align: center;
    }
    .slider-container{
        margin: 0 auto;
        position: relative;
        width:100%;
    }
    .slide-img{
        Position: absolute;
        width:100%;
    }
    .slide-img img{
        margin: auto;
        width: auto;
        height:100vh;
    }

    .pre{
        left:0;
    
    }
    .nxt{
        right:0;
	}
}